@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{ margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    position: relative; 
}
.container {
    padding: 80px 0;

}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.logo {
    width: 40px;
    height: 40px;
    margin:0px 12px 0px 0px ;
}


.logo__text { color: #243e63;
    font-size: 24px;
    margin: 8px 0px;
    padding: 0px 0px 4px;
    font-weight: 900;
    font-size: 1.5rem;
    
    
}
.logo__wrapper { display: flex;
    align-items: center;
gap: 2px;    
}

.nav__container {
    padding-top: 32px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   }
   .nav__row {
    display: flex;
    justify-content: space-between;
   }
   .nav__links {
    display: flex;
    gap: 32px;
}

   .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
.nav__link {
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
}

.nav__link:hover {
    color: #6415ff;
}
.nav__link--margin {
    margin-left: 40px;
}




.nav__link--primary {
background-color: #6415ff;
color: white;
border-radius: 99px;
padding: 12px 32px;
}

.nav__link--primary:hover {
    background-color: #4108b4;
    color: white;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    background-color: #6415ff;
    height: 2px;
    bottom: -3px;

}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}



/*HEADER*/


.header__container {
    padding:90px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 24px;

}
.header__row {
display: flex;
width: 100%;
max-width: 1280px;
margin: 0 auto;
align-items: center;
justify-content: space-between;
}

.header__description {
    width: 45%;
}

.header__description--title {
    font-size: 36px;
    color:#1a202c;
    font-size: 3.2rem;
    line-height: 1.25;
    padding-left: 30px;
    
}

.purple {
    color: #6415ff;
}

.header__description--para {
    font-size: 18px;
    color: #243e63;
    margin: 32px 0;
    line-height: 1.8; 
    padding-left: 40px;
}
.header__email {
margin: 15px;
}

 form {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    height: 68px;
    max-width: 470px;

}
.tag {
    margin-top: 15px;
    padding: 40px;
}

input {
    width: 100%;
    max-width: 500px;
    border-radius: 99px;
    padding: 26px 150px 26px 15px;
    border: 2.5px solid lightgray;
    font-size: 18px;
    font-weight: 500;
    
}


input::placeholder {
    color: lightgray;
}

input:hover {
    border-color: gray;
}

input:focus {
    border: 2.5px solid #6415ff;
    outline: transparent solid 2px;
}

.btn {
    background-color: #6415ff;
    color: white;
    border-radius: 99px;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    width: 41%;
    


    
}

.header__btn {
    position: absolute;
    right: 5px;
    border: none;
    cursor: pointer;
    
    
}


 

.header__description--para-2 {
    font-size: 14px;
    font-weight: 500px;
    color: #a0aec0;
    margin: 80px 0px 5px;
    padding: 50px 0 0;
    
}


.header__description--img {
    width: 100%;
    max-width: 500px;
    margin: 14px 0 0;
    

}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    max-width: 900px;
    margin: 30px;
    padding: 24px;
    height: auto; 
    
}



/*FEATURES*/


.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 48px;
    
    
}

.features__section--heading {
    font-size: 36px;
    letter-spacing: 2px;
    color: #243e63;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 28px;

}
.purple__service {
color: #6415ff;
}

.section__heading {
    font-size: 48px;
    color: #243e63;
    margin: 36px 0;
    font-weight: 900;
    letter-spacing: 2px;
    
}

.section__para {
    font-size: 20px;
    color: #7c8ba1;
    width: 100%;
    max-width: 650px;
    line-height: 1.5;
    font-weight: 500;
    padding-bottom: 3 rem;
    margin-bottom: 30px;
}
.features__section--title {
    color: #6415ff;
    font-size: 18px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service {
    display: flex;
    width: 30%;
    margin: 0 12px;
    padding: 24px 0;
}

.service__img--wrapper {
    display: flex;
    border: 1px solid #c9d2df;
    padding: 20px;
    border-radius: 99px;
    max-height: 65px;
}

.service__description {
    padding-left: 12px;
}

.service__description--title {
    font-size: 24px;
    margin-bottom: 12px;
    color: #243e63;


}

.service__description--para {
    font-size: 16px;
    color: #7c8ba1;
    line-height: 2;
    width: 100%;
    max-width: 200px;
    font-weight: 500;
}

/*QUALITY WORK*/
.quality {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__wrapper {
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 0 24px;
    
}




.quality__heading {
    margin: 12px 0;
    
}
.quality__section--heading {
    font-size: 48px;
    color: #243e63;
    margin-top: 18px;
    margin-bottom: 18px;
    align-items: center;
}

.quality__description {
    
    margin-right: 64px;
    max-width: 562px;
    padding: 40px;
}
.quality__btn {
    margin: 5px;
    padding: 15px 15px;
    border: none;
    width: 30%;
}
.quality__img--wrapper { width: 80%;
    display: flex;
    border: 1px solid rgb(229, 231, 235);
    

}

.quality__img {
    width: 100%;
    height: 100%;

    
}


   /*STEPS*/

   .steps__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
   }

   .steps__img--wrapper {
    width: 45%;
   }

   .steps__img {
    width: 100%;
    max-width: 500px;
   }

   steps__description {
    width: 45%;
   }

   .steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
   }

   .step {
    display: flex;
   }
   .step__num {
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 700;
   }

   .step__text--wrapper {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

   }

   .step__text--title {
    font-size: 24px;
    color: #243e63;
    font-weight: 600;
   }

   .step__text--para {
       font-size: 14px;
    line-height: 28px;
    color: #718096;
    font-weight: 600;
    width: 100%;
    max-width: 320px;
   }
    /*VALUES*/

.values__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    

}

.values__description {
    width: 45%;
}

.values {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.value__title--wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.value__img--wrapper1,
.value__img--wrapper2 {
    display: flex;
    padding: 8px 12px;
    border-radius: 99px;
}



.value__img--wrapper1 {
    display: flex;
    background-color: lightgreen;
    padding: 8px 12px;
    border-radius: 99px;

}
.value__img--wrapper2 {
background-color: pink;
padding: 8px;
}

.value__title {
    color: #243e63;
}
.value__para {
    margin-top: 24px;
    line-height: 1.5;
    color: #718096;
    
}

.value__btn {
    margin-top: 48px;
    border: none;
}

.values__img--wrapper {
    width: 40%;
}

.values__img {
    width: 130%;
    }

    /*PRICING*/

    #pricing {
        padding: 0 24px;
    }

    .pricing__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .plans {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
    }

    .plan {
        position: relative;
        width: 31%;
        max-width: 384px;
        margin-top: 64px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border-radius: 10px; 
    }

    .plan__blue {
        background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    }

    .plan__border--top {
        background:linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }
    .plan__border--top-red { background:linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%); 
    }

.plan__header {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.name {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
}
.price {
    color: #1a202c;
    font-size: 48px;
    font-weight: 700;
}

.duration {
    color: #a0aec0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

.plan__features {
    padding: 32px;
    display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
border-top: 2.3px solid #a0aec0;
border-bottom: 2.3px solid #a0aec0;

}
.plan__features--middle {
    border-top: rgb(102, 126, 234);
    border-bottom: rgb(102, 126, 234);

}

.plan__feature {
    color: #718096;
font-size: 16px;
}

.plan__feature--main {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
}

.white {
    color: white;
}

.plan__btn--wrapper {
    padding: 32px;
    display: flex;
    justify-content: center;
}

.plan__btn {
    padding: 16px 32px;
    border-radius: 99px;
    border: none;
    font-weight: 700;
    transition: all 300ms ease;
}

.plan__btn:hover {
    box-shadow: 8px 2px 5px 1px #24242459;
    transform: translateY(-1px);
    transform: translateX(1px);
    cursor: pointer;
}

.plan__btn--green {
    background:linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
}

.plan__btn--red {
background:linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%); 
color: white;
}

.plan__btn--blue {
    background: white;
    color: blue;
}


/*TESTIMONIALS*/
#testimonials .row{
    display: flex;

}
.row {margin: 0 auto;
    max-width: 1280px;

}

.testimonials__img {
    
    max-width: 480px;
    width: 100%;
    
    
}

.testimonials__img--wrapper {
    display: flex;
    align-items: center;
    
    justify-content: center;  

    width: 50%;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 64px 0px 0px;
    padding-left: 64px;
}

.section__title {
    font-size: 16px;
    font-weight: 700;
}

.section__heading { font-size: 30px;
    font-weight: 700;
    color:#243e63;
    
}

.section__para {
    font-size: 20px;
    line-height: 1.5;


}

.testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.testimonial__rating {
    color:rgb(246 173 85);
}

.testimonial__title {
    display: flex;
    font-size: 22px;
    color:#243e63;
}

.testimonial__para {
    font-size: 16px;
    margin: 16px 0px 32px;
    line-height: 1.8;
    color: #243e63;
}

.testimonial__lower {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__hale--img {
display: flex;
align-items: center;
border-radius: 9999px;
height: 80px;
width: 80px;
}

.testimonial__details {display: flex;
    flex-direction: column;
    margin: 20px;
    
}
.testimonial__name { font-size: 20px;
    color: #243e63;
    font-weight: 700;
}

.testimonial__role {
    font-size: 16px;
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.8;
}

.testimonial__buttons {
        display: flex;
        align-items: center;
        
    }
    
    .testimonial__button svg {
        width: 20px;
        height: 20px;
    }
    
    .testimonial__button {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background: #edf2f7;
        border-radius: 999px;
        border: none;
        margin: 0px 12px;
        color: rgb(100, 21, 255);
    }
    
    .testimonial__button:hover {
        background-color: #e2e8f8;
            cursor: pointer;
        }
     .divider {
            width: 1px;
            height: 24px;
            background-color: #e2e8f8;
        }
        
        
        /*CTA*/
        
        #cta {
            background-color: rgb(100 21 255);
            border-radius: 8px;
            margin: 150px;
        }
        
        .cta__row {
            width: 100%;
            max-width: 1000px;
            margin: 24px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
            
        }
        
        .cta__title {
            color: #fff;
            width: 50%;
            font-size: 28px;
        }
        
        .cta__btn--wrapper {
            display: flex;
            gap: 32px;
        
        }
        
        .cta__btn--red {
            background-color: #f56565;
            padding: 16px 32px;
            border: none;
        }
        .cta__btn--red:hover {
            background-color: rgb(229 62 62);
        }
        .cta__btn--purple {
            border: 1px solid #fff;
            padding: 16px 32px;
            border-color: rgb(160, 174, 192);;
        
        }
         
        .cta__btn--purple:hover {
            color:rgb(100 21 255);
            background-color: #fff;
        }
        .cta__btn--purple,.cta__btn--red{
            cursor: pointer;
        }
        
/*FOOTER*/
.container {
    margin: 96px;
}
footer {
    background-color:rgb(100 21 255); 
    padding: 72px 20px 36px 20px;
    
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 120px;
    padding: 12px;
}

.footer__column--title { color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer__link--wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;    
}

.footer__link--anchor {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.footer__link--anchor:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
}

.break__line {
    width: 100%;
    border-bottom: 2px solid rgb(116, 44, 255);
    margin: 48px 0;
}

.footer__copyright--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo--text, .footer__logo--text:hover {
    color: #fff;

}
 .footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
 }

 .footer__social--links {
    display: flex;
    gap: 16px;
 }

 .footer__social--link {
    padding: 8px 9px;
    background-color: #fff;
    border-radius: 999px;
    }

.footer__social--link:hover {
    background-color: rgb(203, 213, 224);
    cursor: pointer;

}

 .facebook {
    padding: 8px 10px;

 }

 .twitter {
    padding: 8px 9.5px;
 }

 .youtube {

 }
